.category-menu {
  display: flex;
  justify-content: center;      /* Centra horizontalmente los ítems */
  text-align: center;           /* Centra el texto */
  overflow-x: auto;             /* Scroll horizontal si hay muchos ítems */
  padding-bottom: 1rem;         /* pb-4 = 16px */
  gap: 2rem;                    /* space-x-8 = 32px entre ítems */
  scrollbar-width: none;       /* Firefox: oculta scrollbar */
  -ms-overflow-style: none;    /* IE 10+ oculta scrollbar */
}

.category-menu::-webkit-scrollbar {
  display: none;               /* Chrome/Safari: oculta scrollbar */
}

.subCategorias{
  display: flex;
  flex-direction: column;       /* Coloca los ítems en una columna */
  align-items: center;          /* Centra los ítems horizontalmente */
  gap: 1rem;                    /* Espacio entre los ítems */
  padding: 1rem;                /* Espacio alrededor de los ítems */
  width: 100%;                  /* Ocupa todo el ancho disponible */
}
