
:root {
  --black: #000000;
  --gold: #D4AF37;
  --gold-dark: #B7950B;
  --vinotinto: #722F37;
  --gray-dark: #1A1A1A;
  --gray-medium: #333333;
  --gray-light: #CCCCCC;
}

.bg-gold-500 {
  background-color: var(--gold);
}

.hover\:bg-gold-600:hover {
  background-color: var(--gold-dark);
}

.text-gold-500 {
  color: var(--gold);
}

.border-vinotinto {
  border-color: var(--vinotinto);
}

