.nuevo{
    position: absolute;
    top: 5;
    right: 10;
    width: auto;
    padding: 5px;
    background-color: rgb(148, 0, 123);
    border-radius: 3px;
    transform: rotate(0deg);
}

.text_title_product{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.star_qualifications{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.valorAnterior{
    font-size: 15px;
    color: rgba(245, 245, 245, 0.445);
}

.targetProducto{
    background-color: black; 
    color: white;             /* bg-black */
    padding: 0.75rem;                     /* p-3 (12px) */
    border-radius: 1rem;                  /* rounded-2xl (16px) */
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);  /* shadow-lg */
    overflow: hidden;                     /* overflow-hidden */
    cursor: pointer;                      /* cursor-pointer */
    min-width: 250px;                     /* min-w-[250px] */
    transition: box-shadow 0.3s ease;   
}

.targetProducto img {
    border-radius: 1rem; /* rounded-2xl */
    width: 100%; /* w-full */
    height: 200px; /* h-48 */
    object-fit: cover; /* object-cover */
    object-position: center; /* object-center */    
    transition: transform 0.3s ease; /* transition-transform */
}

.targetProducto:hover {
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04); /* hover:shadow-xl */
}


  