.grid-product {
    display: grid;
    grid-template-columns: 1fr; /* Default: 1 columna para móviles */
    gap: 10px;
}

/* Tablet y pantallas más grandes */
@media (min-width: 768px) {
    .grid-product {
        grid-template-columns: 0.3fr 1fr; /* Dos columnas en pantallas medianas/grandes */
    }
}

.itemproduct {
    grid-column: 1; /* Por defecto en móviles */

    @media (min-width: 768px) {
        grid-column: 2;
    }
}

.itemfilter {
    margin-top: 20px;
    grid-column: 1;

    @media (min-width: 768px) {
        grid-column: 1;
    }
}

.title-producto {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.filter {
    width: 100%; /* 100% en móviles */
    background-color: #1a1a1a;
    color: white;
    padding: 1rem;
    border-radius: 0.40rem;
    box-shadow: 0 4px 6px rgba(252, 252, 252, 0.13);
}

@media (min-width: 768px) {
    .filter {
        width: 23%;
    }
}

@media (min-width: 1024px) {
    .filter {
        width: 18%;
    }
}

.input-radio-Category:hover {
    background-color: rgb(182, 182, 182);
    color: black;
    border-radius: 0.20rem;
    box-shadow: 0 4px 6px rgba(252, 252, 252, 0.13);
}

.contenedor-paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pagination {
    background-color: rgb(3, 3, 3);
    border-radius: 50px;
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(252, 252, 252, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    cursor: pointer;
    flex-wrap: wrap;
}

.btn-paginacion-next,
.btn-paginacion-back {
    margin: 0.25rem;
    padding: 0.25rem 0.75rem;
    background-color: #e5e7eb;
    transition: background-color 0.2s ease;
}

.btn-paginacion-next {
    border-radius: 0px 15px 15px 0px;
}

.btn-paginacion-back {
    border-radius: 15px 0px 0px 15px;
}

.btn-paginacion-next:hover {
    background-color: #e0ac00;
}

.btn-paginacion-back:hover {
    background-color: #D4AF37;
}

.active-page {
    background-color: #D4AF37;
    color: white;
}

/* BOTÓN para móviles */
.btn-toggle-filter {
    display: block;
    background-color: #d4aa37;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

/* Ocultar botón en pantallas medianas/grandes */
@media (min-width: 768px) {
    .btn-toggle-filter {
        display: none;
    }
}

/* Ocultar el filtro en móviles */
#filterMenu {
    display: none;
}

/* Mostrar el filtro cuando está activo */
#filterMenu.active {
    display: block;
}





/* Siempre visible en pantallas medianas/grandes */
@media (min-width: 768px) {
    #filterMenu {
        display: block !important;
    }
}


