.productDestacado{
    display: inline;
    text-align: center;
    background: #ff0000;
    background: linear-gradient(90deg, rgba(155, 95, 42, 1) 0%, rgba(199, 186, 87, 1) 50%, rgba(237, 178, 83, 1) 100%);
    /* background: linear-gradient(135deg, #4a0033 0%, #b30059 35%, #ff004f 70%, #ff6a00 100%); */
    color: rgb(255, 255, 255);
    width: 35%;
    height: auto;
    padding: 12px;
  }

.of-day{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    width: 100%;
}

.productDestacado img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s; /* Animation */

}

.productDestacado img:hover {
    filter: brightness(1.2); /* (150% brightness) */
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    border: 2px solid #a7018b; /* Borde rojo */
    border-radius: 10px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave */
    background-color: #f0f0f0; /* Fondo gris claro */   

}

.Name-Of{
    display: flex;
    text-align: center;
    background-color: rgb(43, 38, 0);
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}  
.price{
    display: flex;
    text-align: center;
    align-items: center;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.productDestacado img {
  transition: transform 0.3s ease-in-out;
}

.productDestacado:hover img {
  transform: scale(1.05);
}


