.stars {
    display: inline-block;
    font-size: 1rem;
    unicode-bidi: bidi-override;
    /* direction: rtl; */
  }
  
  .star {
    color: #ccc;
    display: inline-block;
    position: relative;
  }
  
  .star.full {
    color: rgb(255, 187, 0);
  }
  
  .star.half {
    background: linear-gradient(90deg, rgb(255, 255, 253) 50%, #ffd000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  