@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --gold-500: #FFD700;
  --gold-600: #D4AF37;
  --black: #000000;
  --magenta-400: #FF66FF;
  --magenta-500: #FF00FF;
  --magenta-600: #CC00CC;
  --magenta-100: #850133;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

.text-gold-600{
  color: var(--gold-600)
}

.text-gold-500{
  color: var(--gold-500)
}

.fondo {
  background-color: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--black) ;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: #070707;
  font-family: Arial, sans-serif;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

/* Olas animadas (fondo fijo) */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(45deg, 
      transparent 65%, 
      rgba(255, 187, 0, 0.103) 65%, 
      rgba(255, 0, 102, 0.048) 70%, 
      transparent 70%
    ),
    linear-gradient(-45deg, 
      transparent 65%, 
      rgba(150, 0, 255, 0.05) 65%, 
      rgba(150, 0, 255, 0.05) 70%, 
      transparent 70%
    );
  background-size: 40px 40px;
  z-index: -1;
  animation: wave 20s linear infinite;
}

@keyframes wave {
  from { background-position: 0 0; }
  to { background-position: 100px 100px; }
}

.links {
  color: rgb(0, 81, 255);
}

ul {
  list-style-type: disc;
  padding-left: 20px; /* importante para que los puntos no queden fuera de la vista */
}

.btnsed{
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.btnsed:hover{
  transform: scale(1.05);     /* pequeño zoom */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);  /* sombra más fuerte */
}

.slider-btn {
  position: absolute;
  z-index: 20;
  background: white;
  border: none;
  font-size: 45px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s ease;
  display: inline;
  align-items: flex-end;
  text-align: center;
  padding: .4rem 0.5rem;
  color: rgba(0, 0, 0, 0.651);

}

.slider-btn:hover {
  transform: scale(1.1);
}

.slider-btn.left {
  left: -40px;
}

.slider-btn.right {
  right: -40px;
}

/* Ocultar scrollbar en navegadores modernos */
.scrollbar-hide::-webkit-scrollbar {
display: none;
}
.scrollbar-hide {
-ms-overflow-style: none;  /* IE y Edge */
scrollbar-width: none;     /* Firefox */
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-content {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 10px 0;
}

.slider-content::-webkit-scrollbar {
  height: 8px;
}

.slider-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: row; /* por defecto */
  background-color: rgb(36, 36, 36);
  color: rgb(0, 0, 0);
  margin-top: 20px;
  height: 90%;
  padding: 15px;
  border-radius: 15px;
}

.content-detalle {
  display: flex;
  flex-direction: row; /* por defecto */
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  height: 90%;
  padding: 15px;
  border-radius: 15px;
}

.content-producto {
  display: flex;
  flex-direction: row; /* por defecto */
  background-color: rgb(36, 36, 36);
  height: 90%;
  padding: 25px;
  border-radius: 15px;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}

